<!DOCTYPE html>
<html ng-app="grabtangle">
  <head>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="ui-bootstrap-tpls-2.0.2.js"></script>
    <script src="index.js"></script>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <style>
      .glyphicon
      {
        font-size: 20px;
      }
    </style>
  </head>
  <body>

<div ng-controller="AccordionDemoCtrl">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div class="accordion-toggle" style="cursor: pointer" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </div>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>

  <div class="btn-group btn-group-justified" role="group">
      <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Today'">Today <span class="badge">2</span></label>
      <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'Week'">Week <span class="badge">5</span></label>
      <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Waiting'">Waiting <span class="badge">0</span></label>
  </div>
  <!--
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><label class="btn btn-primary">Today <span class="badge">2</span></label></li>
    <li role="presentation"><label class="btn btn-primary">Week <span class="badge">5</span></label></li>
    <li role="presentation"><label class="btn btn-primary">Waiting <span class="badge">0</span></label></li>
  </ul>
  -->

  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="item.isCustomHeaderOpen" template-url="group-template.html" ng-repeat="task in tasks">
      <uib-accordion-heading >
        <div class="container-fluid">
          <div class="row" style="display: flex; align-items: center;">
            <div class="col-xs-6">
            {{task.project}}
            </div>
            <div class="col-xs-4">
              <button class="btn btn-default btn-sm" ng-click="testClick($event)"><span class="glyphicon glyphicon-plus-sign" /></button>
              <button class="btn btn-default btn-sm" ng-click="testClick($event)"><span class="glyphicon glyphicon-time" /></button>
              <button class="btn btn-default btn-sm" ng-click="testClick($event)"><span class="glyphicon glyphicon-transfer" /></button>
              <button class="btn btn-default btn-sm" ng-click="complete($event,task)"><span class="glyphicon glyphicon-ok-sign" /></button>
            </div> 
            <div class="col-xs-2">      
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': item.isCustomHeaderOpen, 'glyphicon-chevron-right': !item.isCustomHeaderOpen}"></i>
            </div>
          </div>
        </div>
      </uib-accordion-heading>
      <span class="pull-left">{{task.action}}</span>
    </div>
  </uib-accordion>
</div>
  </body>
</html>