<!DOCTYPE html>
<html ng-app="grabtangle">

<head>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-animate/angular-animate.js"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="node_modules/angular-datetime-input/dist/datetime.js"></script>

  <script src="index.js"></script>
  <script src="components/data-service/data-service.js"></script>
  <script src="components/directives/auto-focus.js"></script>
  
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <style>
    .icon-big {
      font-size: 20px;
    }
    
    .btn-ctrl {
      border: none;
    }
    
    body {
      padding-top: 90px;
    }
    
    html {
      overflow-y: scroll;
    }
    
    .popover {
      max-width: 555px;
      width: 555px;
  </style>
</head>

<body>
  <div ng-controller="GrabtangleMainController">
    <script type="text/ng-template" id="group-template.html">
      <div class="panel-heading">
        <h4 class="panel-title">
          <div class="accordion-toggle" style="cursor: pointer" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
          </div>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </script>

    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Grabtangle</a>
        </div>

        <button type="button" uib-btn-checkbox ng-model="newTask.ui_state.isOpen" class="btn btn-default navbar-btn navbar-left" uib-popover-template="'templates/add-popup.html'" popover-placement="bottom-left" popover-title="New task" popover-is-open="newTask.ui_state.isOpen">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group has-success has-feedback">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchField" />
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
        <label class="btn btn-default navbar-btn navbar-right btn-ctrl" ng-click="winClose()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></label>
        <label class="btn btn-default navbar-btn navbar-right btn-ctrl" ng-click="winMinimize()"><span class="glyphicon glyphicon-minus" style="vertical-align: inherit;" aria-hidden="true"></span></label>
      </div>
      <div style="padding: 5px 5px 0px 5px;">

        <div class="btn-group btn-group-justified" role="group">
          <label class="btn btn-success" ng-model="activeFilter" uib-btn-radio="'Today'">Today <span class="badge">{{ filterCount['Today'] }}</span></label>
          <label class="btn btn-info" ng-model="activeFilter" uib-btn-radio="'Week'">Week <span class="badge">{{ filterCount['Week'] }}</span></label>
          <label class="btn btn-primary" ng-model="activeFilter" uib-btn-radio="'Waiting'">Waiting <span class="badge">{{ filterCount['Waiting'] }}</span></label>
          <label class="btn btn-default" ng-model="activeFilter" uib-btn-radio="'All'">All <span class="badge">{{ filterCount['All'] }}</span></label>
        </div>
      </div>
    </nav>

    <div style="padding: 5px 5px 0px 5px;">
      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" template-url="group-template.html" is-open="task.ui_state.isOpen" ng-repeat="task in tasks | filter:filterCategory()">
          <uib-accordion-heading>
            <div class="container-fluid">
              <div class="row" style="display: flex; align-items: center;">
                <div class="col-xs-6">
                  {{task.project}} <small>{{task.action | limitTo: 30}}{{task.action.length > 30 ? '...' : ''}}</small>
                </div>
                <div class="col-xs-4">
                  <button class="btn btn-default btn-sm" ng-click="newAction($event,task)"><span class="glyphicon glyphicon-edit icon-big" /></button>
                  <span class="btn-group" uib-dropdown is-open="task.ui_state.date_open">
                    <button id="button-template-url" type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle ng-click="$event.stopPropagation()">
                      <span class="glyphicon glyphicon-time icon-big"/><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
                    <li role="menuitem" ng-repeat="d in dates"><a ng-click="setNewDate($event,task,d,'date_open')">{{d.n}} ({{d.d | date: 'dd.MM.yy'}})</a></li>
                  </ul>
                  </span>
                  <button class="btn btn-default btn-sm" ng-click="waitTask($event,task)"><span class="glyphicon glyphicon-transfer icon-big" /></button>
                  <button class="btn btn-default btn-sm" ng-click="completeTask($event,task)"><span class="glyphicon glyphicon-ok-sign icon-big" /></button>
                </div>
                <div class="col-xs-2">
                  <span class="label" ng-class="{'label-danger': ufilter.Overdue(task), 'label-success': filter.Today(task), 'label-info': filter.Week(task), 'label-primary': filter.Waiting(task), 'label-warning': ufilter.Long(task)}">{{task.due | date: 'dd.MM.yy'}}</span>
                  <i class="pull-right glyphicon icon-big" ng-class="{'glyphicon-chevron-down': task.ui_state.isOpen, 'glyphicon-chevron-right': !task.ui_state.isOpen}"></i>
                </div>
              </div>
            </div>
          </uib-accordion-heading>
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="task.project" uib-typeahead="task.project as task.project for task in tasks | filter:{project:$viewValue}" />
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" ng-model="task.action" auto-focus="{{ task.ui_state.isOpen }}" />
              </div>
              <div class="col-xs-3">
                <div class="input-group">
                  <div class="input-group-btn" uib-dropdown is-open="task.ui_state.cal_open">
                    <button id="button-template-url" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                    <span class="glyphicon glyphicon-calendar"/><span class="caret"></span>
                  </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
                      <li role="menuitem" ng-repeat="d in dates"><a ng-click="setNewDate($event,task,d,'cal_open')">{{d.n}} ({{d.d | date: 'dd.MM.yy'}})</a></li>
                    </ul>
                  </div>
                  <input type="text" class="form-control" datetime="dd.MM.yy" aria-label="Set date" ng-model="task.due">
                </div>
              </div>
            </div>
          </div>
        </div>
      </uib-accordion>
    </div>
  </div>
</body>

</html>